[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/extensions/yasnippet"]
	path = site-lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/extensions/tree-sitter"]
	path = site-lisp/extensions/tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter.git
[submodule "site-lisp/extensions/auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/extensions/grammatical-edit"]
	path = site-lisp/extensions/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "site-lisp/extensions/elispfl"]
	path = site-lisp/extensions/elispfl
	url = https://github.com/cireu/elispfl.git
[submodule "site-lisp/extensions/lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/extensions/dirvish"]
	path = site-lisp/extensions/dirvish
	url = https://github.com/alexluigit/dirvish.git
[submodule "site-lisp/extensions/emacs-rime"]
	path = site-lisp/extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "site-lisp/extensions/popweb"]
	path = site-lisp/extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/extensions/meow"]
	path = site-lisp/extensions/meow
	url = https://github.com/meow-edit/meow.git
[submodule "site-lisp/extensions/symbol-overlay"]
	path = site-lisp/extensions/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/extensions/posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/extensions/blink-search"]
	path = site-lisp/extensions/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "site-lisp/extensions/sis"]
	path = site-lisp/extensions/sis
	url = https://github.com/laishulu/emacs-smart-input-source.git
[submodule "site-lisp/extensions/markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/extensions/disable-mouse"]
	path = site-lisp/extensions/disable-mouse
	url = https://github.com/purcell/disable-mouse.git
[submodule "site-lisp/extensions/ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/extensions/flycheck"]
	path = site-lisp/extensions/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/extensions/flycheck-rust"]
	path = site-lisp/extensions/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule "site-lisp/extensions/rust-mode"]
	path = site-lisp/extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "site-lisp/extensions/nix-mode"]
	path = site-lisp/extensions/nix-mode
	url = https://github.com/NixOS/nix-mode.git
