[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/extensions/elispfl"]
	path = site-lisp/extensions/elispfl
	url = https://github.com/cireu/elispfl.git
[submodule "site-lisp/extensions/org-bars"]
	path = site-lisp/extensions/org-bars
	url = https://github.com/tonyaldon/org-bars.git
